@page
@model BadmintonCenter.Presentation.Pages.Auth.LoginModel
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-6 col-xl-5">
                <img src="../img/logo.jpg"
                     class="img-fluid" alt="Badminton Login">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <p style="font-family: 'Playfair Display', serif; font-size: 32px; font-weight: 700; color: #333;">Login</p>
                <form method="post">
                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="username" class="form-control form-control-lg" asp-for="LoginRequest.Username" />
                        <label class="form-label" asp-for="LoginRequest.Username"></label>
                    </div>
                    <div class="mb-2">
                        <span asp-validation-for="LoginRequest.Username" class="text-danger"></span>
                    </div>


                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="password" class="form-control form-control-lg" asp-for="LoginRequest.Password"/>
                        <label class="form-label" asp-for="LoginRequest.Password"></label>
                    </div>
                    <div class="mb-2">
                        <span asp-validation-for="LoginRequest.Password" class="text-danger mb-2"></span>
                    </div>


                    <div class="d-flex justify-content-start align-items-center mb-4">
                        <a href="#!">Forgot password?</a>
                    </div>

                    @if(!string.IsNullOrEmpty(Model.Message))
                    {
                        <div class="text-danger text-center m-3">@Model.Message</div>
                    }

                    <!-- Submit button -->
                    <div class="d-flex flex-column gap-2 justify-content-center align-items-center mb-4">
                        <button type="submit" class="btn-signin">Sign in</button>
                        <p class="mb-0">
                            Don't have an account? <a asp-page="Register" class="text-info fw-bold">Sign Up</a>
                        </p>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>