@page
@model BadmintonCenter.Presentation.Pages.Admin.IndexModel
@{
	Layout = "_LayoutAdmin";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="~/css/homemanager.css">
</head>
<body>
	<div class="header">
		<h1>Home</h1>
	</div>
	<div class="content">
		<h1>Welcome to Trung tâm cầu lông</h1>
	</div>
</body>
</html>
