@page
@model BadmintonCenter.Presentation.Pages.Staff.CheckInUserModel
@{
    Layout = "_LayoutStaff";
    ViewData["Title"] = "Check-in Customer";
}
<link rel="stylesheet" href="~/css/checkin.css" asp-append-version="true" />

<h1>Check In Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Court</th>
            <th>Time Slot</th>
        </tr>
    </thead>
    <tbody>       
        @foreach (var booking in Model.BookingDetails)
        {
            <tr>
                <td>@booking.Booking.User.FullName</td>
                <td>@booking.Court.CourtName</td>
                <td>@booking.TimeSlot.StartTime</td>
                <td>@booking.TimeSlot.EndTime</td>
            </tr>
        }
    </tbody>
</table>