@page
@model BadmintonCenter.Presentation.Pages.Admin.Users.EditUserModel
@{
    Layout = "_LayoutAdmin";
    var dateNow = DateTime.Now.ToString("yyyy-MM-dd");
}

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserDTO.UserId" />
            <div class="form-group">
                <label asp-for="UserDTO.UserName" class="control-label"></label>
                <input asp-for="UserDTO.UserName" class="form-control" />
                <span asp-validation-for="UserDTO.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDTO.FullName" class="control-label"></label>
                <input asp-for="UserDTO.FullName" class="form-control" />
                <span asp-validation-for="UserDTO.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDTO.Email" class="control-label"></label>
                <input asp-for="UserDTO.Email" class="form-control" />
                <span asp-validation-for="UserDTO.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDTO.PhoneNumber" class="control-label"></label>
                <input asp-for="UserDTO.PhoneNumber" class="form-control" />
                <span asp-validation-for="UserDTO.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-4">
    <a class="btn btn-secondary" asp-page="/Admin/ViewUser">Back to List</a>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}